.bottomBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
  padding: 10px;
  border-radius: 16px;
  background: #FFB6C1;

  &__left,
  &__right {
    display: flex;
    align-items: center;
    gap: 12px;
  }
}