.page {
	display: flex;
	flex-direction: column;

	flex: 1;
	min-height: 0;

	gap: 12px;
}

/* =================================
   CONTENT
================================= */

.content {
	display: grid;

	grid-template-columns: 1.3fr 1fr;

	gap: 8px;

	flex: 1;
	min-height: 0;
}

/* =================================
   PANELS
================================= */

.header,
.timeline {
	display: flex;
	flex-direction: column;

	min-height: 0;

	background-color: #fff;

	border: 1px solid #e5e7eb;
	border-radius: 20px;

	box-shadow: 0 4px 14px rgba(0, 0, 0, 0.05);
}

.timeline {
	padding: 5px;
}

/* =================================
   ACTIONS BAR
================================= */

.actionsBar {
	display: flex;
	align-items: center;
	justify-content: flex-start;

	gap: 12px;
	background-color: #BEDBFF;
	padding: 10px;
	border-radius: 20px;

}