.accionesEmpleado {
	display: flex;
	flex-direction: column;
	gap: 10px;

	padding: 8px;
	border-radius: 12px;

	background: #fee2e2;


	&__actions {
		display: flex;
		gap: 10px;
		flex-wrap: wrap;
	}
}