.asistencias-page {
	display: grid;
	grid-template-columns: 250px 1fr;
	/* background-color: red; */
	padding-top: 0;
	height: 100%;
	min-height: 0;
	gap: 8px;
}

.asistencias-page__sidebar {
	/* background: aqua; */
}

.asistencias-page__content {
	display: flex;
	flex-direction: column;
	gap: 8px;
	height: 100%;
	min-height: 0;
	scrollbar-gutter: stable;
	/* background-color: yellow; */
}