@use "@/styles/breakpoints" as *;

.card-header {
	padding: 8px;
	display: flex;
	flex-direction: column;
	gap: 8px;


	&__top {
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 12px;

	}

	&__nombre {
		display: flex;
		flex-direction: column;


		&-row {
			display: flex;
			align-items: center;
			gap: 8px;
		}

		&-col {
			display: flex;
			flex-direction: column;
			gap: 2px;
		}

		/* 👇 NUEVO */
		&__nombre-linea {
			display: flex;
			align-items: center;
			gap: 8px;
		}
	}

	&__apellido {
		font-weight: 600;
		font-size: 1rem;
		color: #111827;
	}

	&__cuil {
		display: inline-flex;
		align-items: center;
		gap: 4px;

		font-size: 0.75rem;
		color: #6b7280;
		white-space: nowrap;
	}

	&__nombre-text {
		font-size: 0.875rem;
		color: #374151;
	}

	&__estado {
		display: flex;
		align-items: center;
	}
}

@include desktop-height-small {
	.card-header {
		padding: 6px;
		gap: 4px;

		&__apellido {
			font-size: 0.9rem;
			/* antes 1rem */
		}

		&__nombre-text {
			font-size: 0.75rem;
		}

		&__cuil {
			font-size: 0.65rem;
		}

		&__nombre-row {
			gap: 6px;
		}

		&__nombre-col {
			gap: 1px;
		}
	}
}