@use "@/styles/breakpoints" as *;

.info {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 10px;

	padding: 12px 16px;
	border-radius: 12px;

	background: #d6e1ec; // leve fondo para diferenciar

	&__text {
		display: flex;
		flex-direction: column;
		gap: 2px;
	}

	&__label {
		display: inline-flex;
		align-items: center;
		gap: 6px;

		font-size: 0.75rem;
		font-weight: 500;
		color: #6b7280;
		letter-spacing: 0.3px;
	}

	&__value {
		font-size: 0.875rem;
		font-weight: 500;
		color: #111827;
		transition: color 0.2s ease;
	}

	&__value--empty {
		color: #6b7280;
		background: #f3f4f6;
		padding: 4px 8px;
		border-radius: 999px;
		font-size: 0.75rem;
		font-weight: 500;
	}
}



@include desktop-height-small {
	.info {
		padding: 8px 12px;
		/* antes 12px 16px */
		gap: 6px;
		/* antes 10px */
		border-radius: 10px;
	}

	.info__label {
		font-size: 0.65rem;
		/* antes 0.75rem */
		gap: 4px;
	}

	.info__value {
		font-size: 0.75rem;
		/* antes 0.875rem */
	}

	.info__value--empty {
		font-size: 0.65rem;
		padding: 2px 6px;
	}
}