@use "@/styles/breakpoints" as *;

/* =====================================================
   PAGE
===================================================== */

.page {
	display: flex;
	flex-direction: column;
	height: 100%;
	min-height: 0;
	justify-content: center;

	/* ================= FORM CONTAINER ================= */

	.container {
		width: 100%;
		padding: 0 20px;

		display: flex;
		flex-direction: column;
	}
}