@use "@/styles/breakpoints" as *;

/* =========================
   FORM WRAPPER
========================= */

.form {
  max-width: 1000px;
  margin: 0 auto;

  padding: 28px 32px;

  display: flex;
  flex-direction: column;
  gap: 24px;

  border-radius: var(--radius-lg);

  background: var(--bg-form);

  box-shadow: var(--shadow-lg);
  border: 1px solid var(--border);

  transition: box-shadow 0.2s ease;

  &:hover {
    box-shadow: var(--shadow-md);
  }

  /* =========================
     SMALL (600–720)
  ========================= */
  @include desktop-height-small {
    padding: 8px 16px;
    gap: 8px;
  }

  /* =========================
     MEDIUM (721–900)
  ========================= */
  @include desktop-height-medium {
    padding: 16px 32px;
    gap: 8px;
  }

  /* =========================
     LARGE (901+)
  ========================= */
  @include desktop-height-large {
    padding: 32px 64px;
    gap: 8px;
  }
}

/* =========================
   GRID
========================= */

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 24px;

  @include desktop-height-small {
    gap: 16px;
  }

  @include desktop-height-medium {
    gap: 28px;
  }

  @include desktop-height-large {
    gap: 32px;
  }

  &> :nth-child(3) {
    grid-column: 1 / -1;
  }
}