@use "@/styles/breakpoints" as *;

/* =========================
   FORM
========================= */

.form {
  display: flex;
  flex-direction: column;
}

/* =========================
   GRID
========================= */

.grid {
  display: grid;
}

.rightColumn {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.datos {
  height: 100%;
}

.actions {
  grid-column: 1 / -1;
}

/* ==========================================
   SMALL HEIGHT (582px aprox)
========================================== */

@include desktop-height-small {

  .form {
    gap: 16px;
    height: 100%;
  }

  .grid {
    gap: 8px;
    grid-template-columns: 2fr 4fr;
    align-items: stretch;
    flex: 1;
  }

}

@include desktop-height-medium {

  .form {
    gap: 16px;
    height: 100%;
  }

  .grid {
    gap: 8px;
    grid-template-columns: 2fr 4fr;
    align-items: stretch;
    flex: 1;
  }

}


@include desktop-height-large {

  .form {
    gap: 16px;
    height: 100%;
  }

  .grid {
    gap: 8px;
    grid-template-columns: 3fr 4fr;
    align-items: stretch;
    flex: 1;
  }

}