.header {
  position: sticky;
  top: 0;
  z-index: 10;

  display: grid;
  align-items: center;

  min-height: 44px;
  margin-bottom: 8px;

  color: var(--color-text-secondary);
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.06em;

  user-select: none;

  background: #fff;
  border-radius: 20px;

  > * {
    min-width: 0;
  }
}