# ======================
# Gradle
# ======================
.gradle/
build/

# Wrapper (esto SÍ se sube)
!gradlew
!gradlew.bat
!gradle/wrapper/gradle-wrapper.jar
!gradle/wrapper/gradle-wrapper.properties

# ======================
# Logs
# ======================
*.log

# ======================
# IntelliJ IDEA
# ======================
.idea/
*.iml
*.iws
*.ipr

# ======================
# OS
# ======================
.DS_Store
Thumbs.db

# ======================
# Environment
# ======================
.env

# ======================
# VS Code
# ======================
.vscode/

# ======================
# Misc
# ======================
HELP.md