@use "@/styles/abstracts" as *;

.layout {
  /* 🧩 VARIABLES */
  --layout-gap: 8px;

  /* 🏗️ LAYOUT */
  display: flex;
  flex: 1;
  flex-direction: column;
  min-height: 0;

  /* 📦 BOX MODEL */
  gap: var(--layout-gap);
  border: 2px solid blue; // TODO: DEBUG

  /* ================= HEADER ================= */

  &__header {
    flex-shrink: 0;
    border: 2px solid green; // TODO: DEBUG
  }

  /* ================= CONTENT ================= */

  &__content {
    display: flex;
    flex: 1;
    flex-direction: column;
    min-height: 0;
    border: 2px solid orangered; // TODO: DEBUG
  }

  /* ================= FOOTER ================= */

  &__footer {
    flex-shrink: 0;
  }
}

@include desktop-height-small {
  .layout {
    --layout-gap: 8px;
  }
}

@include desktop-height-medium {
  .layout {
    --layout-gap: 12px;
  }
}

@include desktop-height-large {
  .layout {
    --layout-gap: 16px;
  }
}