$bp-desktop-lg: 1920px;
$bp-desktop-md: 1536px;
$bp-desktop-sm: 1366px;

/* =========================
   ALTURA (layout interno)
========================= */

/* Desktop chico: 600–720 */
$desktop-height-small-min: 600px;
$desktop-height-small-max: 720px;

/* Desktop medio: 800–900 */
$desktop-height-medium-min: 721px;
$desktop-height-medium-max: 900px;

/* Desktop grande: 900+ */
$desktop-height-large-min: 901px;


/* =========================
   ANCHO (grid contenedor)
========================= */

/* Desktop chico: 1280–1366 */
$desktop-width-small-min: 1280px;
$desktop-width-small-max: 1366px;

/* Desktop medio: 1440–1680 */
$desktop-width-medium-min: 1440px;
$desktop-width-medium-max: 1680px;

/* Desktop grande: 1920+ */
$desktop-width-large-min: 1920px;


/* =========================
   MIXINS POR ALTURA
========================= */

@mixin desktop-height-small {
  @media (max-height: $desktop-height-small-max) {
    @content;
  }
}

@mixin desktop-height-medium {
  @media (min-height: $desktop-height-medium-min) and (max-height: $desktop-height-medium-max) {
    @content;
  }
}

@mixin desktop-height-large {
  @media (min-height: $desktop-height-large-min) {
    @content;
  }
}


/* =========================
   MIXINS POR ANCHO
========================= */

@mixin desktop-width-small {
  @media (min-width: $desktop-width-small-min) and (max-width: $desktop-width-small-max) {
    @content;
  }
}

@mixin desktop-width-medium {
  @media (min-width: $desktop-width-medium-min) and (max-width: $desktop-width-medium-max) {
    @content;
  }
}

@mixin desktop-width-large {
  @media (min-width: $desktop-width-large-min) {
    @content;
  }
}