html,
body,
#root {
  height: 100%;
  overflow: hidden;
}

html {
  scroll-behavior: smooth;
  -webkit-text-size-adjust: 100%;
}

body {
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    sans-serif;

  font-size: 14px;
  line-height: 1.5;

  background: var(--bg-page);
  color: var(--text-main);

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

p {
  line-height: inherit;
}

::selection {
  background: #e5e7eb;
}