@use "@/styles/breakpoints" as *;
@use "@/styles/_debug.mixins" as debug;

/* ======================================================
   SIDEBAR PAGE LAYOUT (SIMPLIFIED)
====================================================== */

.layout {
	display: flex;
	flex-direction: column;
	flex: 1;
	min-height: 0;
	overflow: hidden;
	gap: 8px;

	@include debug.debug(blueviolet);

	/* ================= SIDEBAR ================= */

	&__sidebar {
		flex-shrink: 0;

		@include debug.debug(black);
	}

	/* ================= FILTERS ================= */

	&__content {
		flex: 1;
		min-width: 0;
		min-height: 0;
		display: flex;
		align-items: center;

		@include debug.debug(gold);
	}

	/* ================= BODY ================= */

	&__body {
		flex: 1;
		min-height: 0;
		overflow: hidden;

		@include debug.debug(aqua);

	}
}

/* ================= RESPONSIVE GAP ================= */

@include desktop-height-small {
	.layout {
		gap: 4px;
	}
}

@include desktop-height-medium {
	.layout {
		gap: 8px;
	}
}

@include desktop-height-large {
	.layout {
		gap: 16px;
	}
}