@use "@/styles/breakpoints" as *;

/* ======================================================
   SIDEBAR PAGE LAYOUT
====================================================== */

.sidebarPage {
	display: flex;
	flex-direction: column;
	height: 100%;
	gap: 8px;
	// background-color: blueviolet;

	/* ================= SIDEBAR ================= */

	&__sidebar {
		flex-shrink: 0;
		padding: 8px 12px;
		// background-color: black;
	}

	/* ================= CONTENT ================= */

	&__content {
		flex: 1;
		display: flex;
		flex-direction: column;
		overflow: hidden;
		// background-color: aqua;
	}

	/* ================= PAGINATION ================= */

	&__pagination {
		flex-shrink: 0;
		// background-color: lightsteelblue;
	}
}

@include desktop-height-small {
	.sidebarPage {
		gap: 4px;

		&__sidebar {
			padding: 4px 12px;
		}
	}
}

@include desktop-height-medium {
	.sidebarPage {
		gap: 8px;

		&__sidebar {
			padding: 8px 16px;
		}
	}
}

@include desktop-height-large {
	.sidebarPage {
		gap: 12px;

		&__sidebar {
			padding: 12px 20px;
		}
	}
}