@use "@/styles/abstracts" as *;

.appLayout {
	/* 🏗️ LAYOUT */
	display: flex;
	flex-direction: column;
	height: 100vh;

	/* 📦 BOX MODEL */
	padding: var(--layout-padding);
	gap: var(--layout-gap);

	/* 🎨 VISUAL */
	background-color: $page-background;
  border: 2px solid red; // TODO: DEBUG

	&__content {
		/* 🏗️ LAYOUT */
		flex: 1;
		display: flex;
		flex-direction: column;

		/* 📦 BOX MODEL */
		min-height: 0;
	}
}

@include desktop-height-small {
	.appLayout {
		--layout-padding: 8px;
		--layout-gap: 8px;
	}
}

@include desktop-height-medium {
	.appLayout {
		--layout-padding: 12px;
		--layout-gap: 12px;
	}
}

@include desktop-height-large {
	.appLayout {
		--layout-padding: 16px;
		--layout-gap: 16px;
	}
}