@use "@/styles/_debug.mixins" as debug;

.root {
  @include debug.debug(red);

  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 0;
}

/* ==============================
   HEADER
================================ */

.header {
  @include debug.debug(green);

  position: sticky;
  top: 0;
  z-index: 10;

  display: flex;
  align-items: center;
  justify-content: space-between;

}

/* ==============================
   CONTENT SCROLL
================================ */

.content {
  @include debug.debug(blue);

  flex: 1;
  min-height: 0;
  overflow-y: auto;

  display: flex;
  flex-direction: column;
  gap: 6px;

  padding: 8px 0;
}

/* ==============================
   LIST
================================ */

.list {
  @include debug.debug(purple);

  display: flex;
  flex-direction: column;
  gap: 6px;
}

/* ==============================
   STATES
================================ */

.loading,
.empty {
  @include debug.debug(orange);
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  color: #6b7280;
}

/* ==============================
   BUTTON
================================ */

.create {
  @include debug.debug(yellow);

  flex-shrink: 0;
}