@use "@/styles/abstracts" as *;

.toolbar {
	box-sizing: border-box;
	flex-shrink: 0;

	display: grid;
	grid-template-columns: auto 1fr auto;
	align-items: center;
	column-gap: $space-16;

	height: 56px;
	padding: 0 $space-16;

	background: #f8fafc;
	border: 1px solid #e2e8f0;
	border-radius: $radius-xl;

	@include desktop-height-small {
		height: 48px;
		padding: 0 $space-12;
	}

	@include desktop-height-large {
		height: 64px;
		padding: 0 $space-20;
	}

	/* ================= TITLE ================= */

	&__title {
		margin: 0;

		font-size: $font-size-xl;
		font-weight: $font-weight-semibold;
		color: #000;

		white-space: nowrap;
	}

	/* ================= CENTER ================= */

	&__center {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: $space-8;

		min-width: 0;
	}

	/* ================= ACTIONS ================= */

	&__actions {
		display: flex;
		align-items: center;
		gap: $space-8;
	}

	&__button {
		display: flex;
		align-items: center;
		gap: $space-4;
	}

	/* ================= SPIN ================= */

	&__spin {
		animation: spin 1s linear infinite;
	}
}