.root {
	display: flex;
	flex-direction: column;
	gap: 4px;
	height: 100%;
	width: 100%;
	max-width: 500px;
}

.title {
	font-size: 13px;
	font-weight: 600;
	color: #6b7280;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 0.5px;

	padding-bottom: 5px;
	border-bottom: 1px solid #000000;
}

.loading {
	font-size: 13px;
	color: #6b7280;
	text-align: center;
}

.emptyWrapper {
	flex: 1;
	display: flex;
	align-items: center;
	justify-content: center;
}

.empty {
	font-size: 13px;
	color: #6b7280;
	text-align: center;
}