.root {
	display: flex;
	flex-direction: column;
	gap: 16px;
	height: 100%;
	width: 100%;
	max-width: 500px;
}

.title {
	font-size: 14px;
	font-weight: 600;
	color: #111827;
	text-align: center;
}

.loading {
	font-size: 13px;
	color: #6b7280;
	text-align: center;
}

.emptyWrapper {
	flex: 1;
	display: flex;
	align-items: center;
	justify-content: center;
}

.empty {
	font-size: 13px;
	color: #6b7280;
	text-align: center;
}
