@use "@/styles/breakpoints" as *;

.page {
  display: flex;
  flex-direction: column;
  gap: 32px;

  @include desktop-height-small {
    gap: 18px;
  }
}


.secondary {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 24px;
}