$header-height: 56px;

$sidebar-width: 260px;

$container-md: 1200px;
$container-lg: 1600px;

$layout-gap-small: 8px;
$layout-gap-medium: 16px;
$layout-gap-large: 24px;

$layout-padding-small: 8px;
$layout-padding-medium: 16px;
$layout-padding-large: 24px;
