@use "@/styles/breakpoints" as *;

.card {
  display: flex;
  flex-direction: column;
  height: 100%;
}

/* =========================
   BASE (fallback)
========================= */

.sectionHeader {
  display: flex;
  align-items: center;
}

.sectionEmpleado {
  display: flex;
  align-items: center;
  justify-content: center;
}

.sectionContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.sectionHorarios {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: auto;

}

/* =========================
   SMALL HEIGHT
========================= */

@include desktop-height-small {
  .card {
    .sectionHeader {
      height: 36px;
    }

    .sectionEmpleado {
      height: 45px;
    }

    .sectionContent {
      height: 100px;
    }

  }
}

/* =========================
   MEDIUM HEIGHT
========================= */

@include desktop-height-medium {
  .card {
    .sectionHeader {
      height: 40px;
    }

    .sectionEmpleado {
      height: 56px;
    }

    .sectionContent {
      height: 120px;
    }

  }
}

/* =========================
   LARGE HEIGHT
========================= */

@include desktop-height-large {
  .card {
    .sectionHeader {
      height: 48px;
    }

    .sectionEmpleado {
      height: 64px;
    }

    .sectionContent {
      height: 140px;
    }

  }
}