.designacion-create__tabs {
  display: inline-flex;
  gap: 8px;

  padding: 6px;
  border-radius: 999px;

  width: fit-content;

  .btn {
    border-radius: 999px;
    font-size: 13px;
    font-weight: 500;
    color: var(--text-muted);

    &:hover:not(.isActive) {
      color: var(--text-main);
    }

    &.isActive {
      background: var(--bg-card);
      color: var(--primary);
      box-shadow: var(--shadow-sm);
    }
  }
}