.page {
	display: flex;
	flex-direction: column;
	gap: 12px;
	height: 100%;

	background: rgba(255, 0, 0, 0.12); // rojo
}

.container {
	display: flex;
	flex-direction: column;
	flex: 1;
	min-height: 0;

	background: rgba(0, 255, 0, 0.12); // verde
}

.designacionesList {
	display: flex;
	flex-direction: column;
	gap: 14px;
	padding-right: 4px;

	flex: 1;
	min-height: 0;
	overflow-y: auto;

	background: rgba(0, 0, 255, 0.12); // azul

	scroll-behavior: smooth;

	&::-webkit-scrollbar {
		width: 6px;
	}

	&::-webkit-scrollbar-thumb {
		background: #d1d5db;
		border-radius: 10px;
	}

	&__empty {
		padding: 24px;
		text-align: center;
		color: #6b7280;
		font-size: 14px;

		border: 1px dashed #d1d5db;
		border-radius: 14px;
		background: rgba(255, 255, 0, 0.2); // amarillo
	}
}

.actions {
	display: flex;
	justify-content: center;
	align-items: center;

	padding: 8px;
	flex-shrink: 0;
  background-color: violet;
}