@use "@/styles/abstracts" as *;
@use "../DesignacionRow.module.scss";

/* =================================
   ROL EDUCATIVO
================================= */

.role {
  display: flex;
  align-items: center;
  gap: 10px;

  width: 100%;
  min-width: 0;

  color: var(--color-text);
  font-weight: 500;

  svg {
    flex-shrink: 0;
    color: var(--color-primary);
  }

  span {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

@include desktop-height-small {
  .role {
    font-size: 12px;

    svg {
      width: 16px;
      height: 16px;
    }
  }
}

@include desktop-height-medium {
  .role {
    font-size: 13px;

    svg {
      width: 18px;
      height: 18px;
    }
  }
}

@include desktop-height-large {
  .role {
    font-size: 14px;

    svg {
      width: 20px;
      height: 20px;
    }
  }
}