@use "@/styles/breakpoints" as *;
@use "@/styles/_debug.mixins" as debug;

.appLayout {
	/* 🧩 VARIABLES */
	--layout-padding: 8px;
	--layout-gap: 8px;

	/* 🏗️ LAYOUT */
	height: 100vh;
	display: flex;
	flex-direction: column;

	/* 📦 BOX MODEL */
	padding: var(--layout-padding);
	gap: var(--layout-gap);

	/* 🎨 VISUAL */
	background: var(--bg-page);

	/* 🧪 DEBUG */
	@include debug.debug(orange);

	/* 🧱 HEADER */
	&__header {
		flex-shrink: 0;
		// @include debug.debug(black);
	}

	/* 🧱 CONTENT */
	&__content {
		/* 🏗️ layout */
		flex: 1;
		display: flex;
		flex-direction: column;

		/* 📦 box model */
		min-height: 0;

		/* ⚙️ behavior */
		overflow: auto;

		// @include debug.debug(darkgreen);
	}
}

/* 📱 BREAKPOINTS */

@include desktop-height-small {
	.appLayout {
		--layout-padding: 4px;
		--layout-gap: 4px;
	}
}

@include desktop-height-medium {
	.appLayout {
		--layout-padding: 8px;
		--layout-gap: 8px;
	}
}

@include desktop-height-large {
	.appLayout {
		--layout-padding: 16px;
		--layout-gap: 16px;
	}
}