@use "@/styles/breakpoints" as *;

.appLayout {
	height: 100vh;
	display: flex;
	flex-direction: column;
	background: var(--bg-page);
	// background-color: orange;

	&__header {
		// background-color: lightseagreen;
	}

	&__content {
		flex: 1;
		min-height: 0;
		overflow: auto;

		display: flex;
		flex-direction: column;
		// background-color: darkgreen;
	}
}

@include desktop-height-small {
	.appLayout {
		padding: 4px;
		gap: 4px;
	}
}

@include desktop-height-medium {
	.appLayout {
		padding: 8px;
		gap: 8px;
	}
}

@include desktop-height-large {
	.appLayout {
		padding: 12px;
		gap: 12px;
	}
}