@use "@/styles/breakpoints" as *;
@use "@/styles/_debug.mixins" as debug;

.appLayout {
	height: 100vh;
	display: flex;
	flex-direction: column;
	background: var(--bg-page);
	padding: 8px;
	gap: 8px;

	@include debug.debug(orange);

	&__content {
		flex: 1;
		min-height: 0;
		overflow: auto;
		display: flex;
		flex-direction: column;

		@include debug.debug(darkgreen);
	}
}

@include desktop-height-small {
	.appLayout {
		padding: 4px;
		gap: 4px;
	}
}

@include desktop-height-medium {
	.appLayout {
		padding: 8px;
		gap: 8px;
	}
}

@include desktop-height-large {
	.appLayout {
		padding: 16px;
		gap: 16px;
	}
}