@use "@/styles/abstracts" as *;

.container {
  flex: 1;
  min-height: 0;
  min-width: 0;

  display: flex;
  flex-direction: column;
}

.body {
  display: flex;
  flex-direction: column;

  gap: 8px;

  min-width: 0;
}

.state {
  flex: 1;
  min-height: 0;
  min-width: 0;

  display: flex;
  justify-content: center;
  align-items: center;
}

.listState {
  display: flex;
  align-items: center;
  justify-content: center;

  min-height: 100%;
  padding: 32px;

  text-align: center;
  font-size: 14px;
  color: #6b7280;
}

@include desktop-height-small {
  .body {
    gap: 8px;
  }
}

@include desktop-height-medium {
  .body {
    gap: 12px;
  }
}

@include desktop-height-large {
  .body {
    gap: 16px;
  }
}