.asistencia-main {
  display: flex;
  flex-direction: column;
  padding: 8px;
  height: 100%;
  min-height: 0;

  background: var(--bg-card, #ffffff);
  border-radius: 20px;

  /* ===============================
     HEADER
  ============================== */

  &__header {
    display: grid;
    grid-template-columns: auto 1fr auto; // 👈 clave
    align-items: center;

    padding: 14px 18px;
    border-bottom: 1px solid #e5e7eb;
    background: #ffffff;
  }

  &__empleado {
    justify-self: center;
    font-size: 16px;
    font-weight: 600;
    color: #111827;
  }

  &__cuil {
    display: inline-flex;
    align-items: center;
    gap: 6px;

    font-size: 14px;
    color: #6b7280;
  }


  /* DERECHA */
  &__roles {
    display: flex;
    align-items: center;
    gap: 8px;
    flex-wrap: wrap;
    justify-content: flex-end;
  }

  /* ===============================
     CONTEXTO
  ============================== */

  &__context {
    padding: 8px 16px;

    font-size: 12px;
    color: #6b7280;

    border-bottom: 1px solid #e5e7eb;
    background: #f9fafb;
  }

  /* ===============================
     LISTA DE DÍAS (SCROLL)
  ============================== */

  &__dias {
    flex: 1;
    min-height: 0;

    overflow-y: auto;

    display: flex;
    flex-direction: column;

    background: #f9fafb;
  }
}