.wrapper {
  display: flex;
  flex-direction: column;

  flex: 1;
  min-height: 0;
  overflow-y: auto;

  scrollbar-width: thin;
  scrollbar-color: #f59e0b transparent;

  &::-webkit-scrollbar {
    width: 6px;
  }

  &::-webkit-scrollbar-thumb {
    background: rgba(245, 158, 11, 0.6);
    border-radius: 999px;
  }

}

.list {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 8px;

  flex: 1; // 🔑 ESTA ES LA CLAVE
  min-height: 0;

  background-color: #f5eded;
  border: 1px solid #e5e7eb;
  box-shadow: 0 4px 14px rgba(0, 0, 0, 0.05);
  border-radius: 20px;
}