.person {
	display: flex;
	align-items: flex-start;
	gap: 0.75rem;

	> div {
		display: flex;
		flex-direction: column;
		gap: 0.125rem;
	}

	strong {
		display: block;

		font-size: 0.9375rem;
		font-weight: 700;

		color: #0f172a;
	}

	span {
		font-size: 0.8125rem;
		color: #64748b;
	}
}