server:
  port: ${PORT}

spring:
  datasource:
    url: ${SPRING_DATASOURCE_URL}
    username: ${SPRING_DATASOURCE_USERNAME}
    password: ${SPRING_DATASOURCE_PASSWORD}
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false

  flyway:
    enabled: true
    baseline-on-migrate: true

  jackson:
    time-zone: America/Argentina/Buenos_Aires

logging:
  level:
    org.hibernate.SQL: OFF
