spring:
  datasource:
    url: jdbc:postgresql://localhost:5433/gestion_escolar_dev
    username: postgres
    password: root
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  flyway:
    enabled: true
    baseline-on-migrate: false

  jackson:
    time-zone: America/Argentina/Buenos_Aires

logging:
  level:
    org.hibernate.SQL: DEBUG
