@use "@/styles/abstracts" as *;

$row-columns:
  140px
  140px
  minmax(220px, 1fr)
  180px
  48px;

.header {
  grid-template-columns: $row-columns;
  column-gap: $row-gap;
  padding-inline: $row-padding-inline;

  > :nth-child(1),
  > :nth-child(2),
  > :nth-child(3),
  > :nth-child(4) {
    justify-content: flex-start;
  }

  > :nth-child(5) {
    justify-content: center;
  }
}