.header {
  height: 72px;
  background: #1e40af;
  border-radius: 16px;
  box-shadow: 0 12px 32px rgba(15, 23, 42, 0.12);
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  padding: 0 24px;
  gap: 24px;
}

/* IZQUIERDA */
.header-left {
  display: flex;
  flex-direction: column;
}

.header-subtitle {
  font-size: 12px;
  color: white;
}

.header-title {
  font-size: 20px;
  font-weight: 600;
  color: white;
}

/* SEARCH */
.header-search {
  display: flex;
  justify-content: center;
}

.search-input {
  width: 100%;
  max-width: 420px;
  height: 40px;

  padding: 0 14px;
  border-radius: 10px;

  border: 1px solid #e5e7eb;
  background: #f9fafb;

  font-size: 14px;
  color: #111827;
}

.search-input::placeholder {
  color: #9ca3af;
}

.search-input:focus {
  outline: none;
  border-color: #2563eb;
  background: #ffffff;
}

/* USUARIO */
.header-user {
  display: flex;
  align-items: center;
  gap: 10px;
}

.user-name {
  font-size: 14px;
  color: white;
}

.user-avatar {
  width: 34px;
  height: 34px;
  border-radius: 50%;
  background: #2563eb;
  color: #ffffff;
  font-weight: 600;

  display: flex;
  align-items: center;
  justify-content: center;
}

.breadcrumb {
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: 16px;
  font-weight: 600;
}

.breadcrumb-link {
  color: white;
  text-decoration: none;
}

.breadcrumb-link:hover {
  text-decoration: underline;
}

.breadcrumb-current {
  color: green;
}

.breadcrumb-separator {
  margin: 0 6px;
  color: #94a3b8;
}
