.section {
  min-height: 96px; // el alto visual del bloque
  display: flex;
  align-items: stretch; // 👈 CLAVE
}

.infoRow {
  display: flex;
  width: 100%;
  height: 100%; // 👈 CLAVE
  justify-content: space-between;
  align-items: stretch; // 👈 CLAVE
  position: relative;
  gap: 16px;
}

.horariosWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 16px;
  border-left: 1px solid var(--border-muted, #bebaba);
  // background-color: blue;
}