@use "@/styles/breakpoints" as *;
@use "@/styles/_debug.mixins" as debug;

.pageLayout {
	/* 🧩 VARIABLES */
	--page-gap: 8px;

	/* 🏗️ LAYOUT */
	height: 100%;
	display: flex;
	flex-direction: column;

	/* 📦 BOX MODEL */
	gap: var(--page-gap);

	/* 🧪 DEBUG */
	@include debug.debug(aqua);

	/* 🧱 BREADCRUMBS */
	&__breadcrumbs {
		/* 🏗️ layout */
		flex-shrink: 0;

		/* 🧪 debug */
		@include debug.debug(coral);
	}

	/* 🧱 CONTENT */
	&__content {
		/* 🏗️ layout */
		flex: 1;
		display: flex;
		flex-direction: column;

		/* 📦 box model */
		min-height: 0;
		gap: var(--page-gap);

		/* 🧪 debug */
		@include debug.debug(lightcoral);
	}
}

/* 📱 BREAKPOINTS */

@include desktop-height-small {
	.pageLayout {
		--page-gap: 4px;
	}
}

@include desktop-height-medium {
	.pageLayout {
		--page-gap: 8px;
	}
}

@include desktop-height-large {
	.pageLayout {
		--page-gap: 12px;
	}
}