.page-layout {
  height: 100%;
  display: flex;
  flex-direction: column;
  // background-color: rgb(255, 0, 0);
  padding-top: 0;
  gap: 4px;

  &__breadcrumb {
    flex-shrink: 0;
  }

  &__content {
    flex: 1;
    min-height: 0;
    display: flex;
    flex-direction: column;
    gap: 4px;
    // background-color: rgb(0, 0, 255);
  }
}