@use "@/styles/breakpoints" as *;

.page-layout {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 0;
  gap: 8px;

  &__breadcrumb {
    flex-shrink: 0;
    // background-color: coral;
  }

  &__content {
    flex: 1;
    min-height: 0;
    display: flex;
    flex-direction: column;
    gap: 8px;
    // background-color: coral;
  }
}

@include desktop-height-small {
  .page-layout {
    gap: 4px;
  }

  .page-layout__content {
    gap: 4px;
  }
}

@include desktop-height-medium {
  .page-layout {
    gap: 8px;
  }

  .page-layout__content {
    gap: 8px;
  }
}

@include desktop-height-large {
  .page-layout {
    gap: 12px;
  }

  .page-layout__content {
    gap: 12px;
  }
}