@use "@/styles/abstracts" as *;

$columns:
  minmax(320px, 3fr)
  160px
  minmax(240px, 2fr)
  140px
  120px
  110px
  70px;

@mixin table-grid {
  display: grid;
  grid-template-columns: $columns;
  column-gap: $row-gap;
  align-items: center;
}

@mixin cell-base {
  min-width: 0;

  display: flex;
  align-items: center;
}

@mixin cell-start {
  @include cell-base;
  justify-content: flex-start;
}

@mixin cell-center {
  @include cell-base;
  justify-content: center;
}