@use "@/styles/abstracts" as *;

.container {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	width: 100%;
	gap: 8px;
}

.empty {
	color: grey;
}

@include desktop-height-medium {
	.container {
		gap: 12px;
	}
}

@include desktop-height-large {
	.container {
		gap: 16px;
	}
}