.header {
  display: flex;
  flex-direction: column;
  gap: 6px;
  background-color: red;
  padding: 0 4px;

  &__title {
    font-size: 20px;
    font-weight: 600;
    color: var(--text-primary);
    letter-spacing: 0.3px;
  }

  &__subtitle {
    font-size: 14px;
    color: var(--text-secondary);
  }
}