@use "@/styles/breakpoints" as *;

.listLayout {
	flex: 1;
	min-height: 0;
	display: flex;

	&__grid {
		flex: 1;
		min-height: 0;
		display: grid;
		width: 100%;
		align-content: start;
	}
}

/* ======================================================
   1366 x 680
====================================================== */

@include desktop-width-small {
	.listLayout {
		padding: 4px;

		&__grid {
			grid-template-columns: repeat(4, 1fr);
			gap: 4px;
			grid-auto-rows: 230px;
		}
	}
}

/* ======================================================
   1536 x 780
====================================================== */

@include desktop-width-medium {
	.listLayout {
		padding: 12px;

		&__grid {
			grid-template-columns: repeat(4, 1fr);
			gap: 12px;
			grid-auto-rows: 250px;
		}
	}
}

/* ======================================================
   1920 x 980
====================================================== */

@include desktop-width-large {
	.listLayout {
		padding: 16px;

		&__grid {
			grid-template-columns: repeat(5, 1fr);
			gap: 16px;
			grid-auto-rows: 290px;
		}
	}
}