@use "@/styles/breakpoints" as *;

.listLayout {
	flex: 1;
	min-height: 0;
	display: flex;
	// background-color: red;

	&__grid {
		flex: 1;
		min-height: 0;
		display: grid;
		width: 100%;
		align-content: start;
		// background-color: chartreuse;
	}
}

@include desktop-width-small {
	.listLayout {
		padding: 8px;

		&__grid {
			grid-template-columns: repeat(4, 1fr);
			gap: 4px;
			grid-auto-rows: 250px;
		}
	}
}

@include desktop-width-medium {
	.listLayout {
		padding: 4px;

		&__grid {
			grid-template-columns: repeat(4, 1fr);
			gap: 4px;
			grid-auto-rows: 280px;
		}
	}
}

@include desktop-width-large {
	.listLayout {
		padding: 4px;

		&__grid {
			grid-template-columns: repeat(5, 1fr);
			gap: 4px;
			grid-auto-rows: 360px;
		}
	}
}