name: Build and Release Electron App

on:
  push:
    tags:
      - "v*"

jobs:
  build:
    runs-on: windows-latest

    defaults:
      run:
        working-directory: frontend

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: "npm"
          cache-dependency-path: frontend/package-lock.json

      - name: Install dependencies
        run: npm ci

      - name: Build and Publish
        run: npm run electron:build
        env:
          GH_TOKEN: ${{ secrets.GH_TOKEN }}
