@use "@/styles/breakpoints" as *;

.info {
	display: flex;
	flex-direction: column;
	gap: 4px;
}

.line {
	display: flex;
	align-items: center;
	gap: 6px;

	svg {
		color: #6b7280;
		flex-shrink: 0;
	}
}

.nombre {
	font-weight: 500;
}

.cuil {
	font-size: 0.85rem;
	color: var(--text-muted);
}

/* ===============================
   HEIGHT SMALL
================================ */

@include desktop-height-small {
	.line {
		gap: 4px;
	}

	.nombre {
		font-size: 12px;
	}

	.cuil {
		font-size: 11px;
	}
}

/* ===============================
   HEIGHT MEDIUM
================================ */

@include desktop-height-medium {
	.line {
		gap: 6px;
	}

	.nombre {
		font-size: 13px;
	}

	.cuil {
		font-size: 12px;
	}
}

/* ===============================
   HEIGHT LARGE
================================ */

@include desktop-height-large {
	.line {
		gap: 8px;
	}

	.nombre {
		font-size: 14px;
	}

	.cuil {
		font-size: 13px;
	}
}
